*{
    margin: 0;
    font-size: 30px;
}
/* div{
    color: red;
}
.div{
    background-color: royalblue;
}
#test{
    border: 1px solid green;
    width: 20px;
    height: 3em;
}
div span{
    color:yellow;
}
.class1 .class2{
    background-color: red;
    width: 50px;
    height: 4rem;
}
.class3 > .class4{
    color: blue;
}
.parent1 + .parent2{
    font-size: 55px;
}
.fontX22{
    font-size: 70px;
}
.div1{
    text-decoration: underline;
    font-style: italic;
    color: black;
}
.div2{
    color: chartreuse;
} */
/* .div1.div2{
    color: red;
} */
.divBox{
    height: 100px;
    width: 150px;
    background: black;
}
.divBox:hover{
    background: grey;
    height: 300px;
    width: 450px;
}
a:active{
    font-size: 100px;
    transition: all 0.7s ease;
}